APP_NAME=Kulima OS API
APP_VERSION=1.0.0
API_PREFIX=/api/v1

NEXT_PUBLIC_API_URL=https://kulima-os-backend.onrender.com/api/v1

DEBUG=False

DATABASE_URL=postgresql://postgres.tygpjeuifqzihmmpduzt:YOUR_PASSWORD@aws-1-eu-central-2.pooler.supabase.com:6543/postgres?sslmode=require
DATABASE_ECHO=False

API_KEY=your-api-key

SECRET_KEY=your-secret-key

CORS_ORIGINS=https://kulima-os.vercel.app

ARTIFACTS_DIR=./artifacts

LOG_LEVEL=INFO